BORRAR TODAS LAS TABLAS

In [ ]:
DO $$ 
DECLARE
    tabla RECORD;
BEGIN
    FOR tabla IN 
        (SELECT tablename FROM pg_tables WHERE schemaname = 'public')
    LOOP
        EXECUTE FORMAT('DROP TABLE IF EXISTS %I CASCADE;', tabla.tablename);
    END LOOP;
END $$;

Ejemplo 1

In [ ]:
SELECT dt.id, et.estratosocio, dt.ccdd, lt.lengua_indg
FROM public.data_total as dt
JOIN lengua_indigena  as lt
	ON dt.id = lt.id_persona
JOIN estrato_social as et
	ON dt.estratosocio = et.id_estratosocio
WHERE et.estratosocio = 'Rural';